<!-- 关重件采集 -->
<div data-page="ipCollect" class="page cached">
	<div class="page-content" >
		<!--当前信息条-->
		<div class="current-info">
			<span class="label" data-i18n="KEYPART.T.CURRENT_COLLECT_STATISTICS"></span>&nbsp;<span class="count">0</span>&nbsp;/ <span class="total">0</span>
		</div>
        <!--扫码信息条-->
        <div class="sz-singleline-input sz-input-big">
            <label class="sz-disabled" data-i18n="KEYPART.T.PRODUCT_NO"></label>
            <div class="content">
                <input type="text" class="productNumInput" maxlength="40">
            </div>
        </div>
        <div class="sz-singleline-input sz-input-big">
            <label class="sz-disabled" data-i18n="KEYPART.T.BATCH_NO"></label>
            <div class="content">
                <input type="text" class="lotBarCodeInput" maxlength="60">
            </div>
        </div>
        <!--下部表格-->
        <div class="table-panel sz-table with-all-arrow">
            <table class="table-bordered table-striped table-instance">
                <thead>
                    <!--<th>NO</th>-->
                    <th data-i18n="KEYPART.T.MATERIAL_NO"></th>
                    <th data-i18n="KEYPART.T.SUPPLIER"></th>
                    <th data-i18n="KEYPART.T.BATCH"></th>
                </thead>
            </table>
        </div>
	</div>
</div>